# Use the `.env.${TARGET}` file to set the environment variables for the target.
TARGET=docker
# TropOMI data comes from a public S3 bucket and needs no credentials.
# Login information for the CDS api
CDSAPI_KEY=
CDSAPI_URL=https://ads.atmosphere.copernicus.eu/api
# turn off regional bias correction. If DISABLE_CORRECT_BIAS_BY_REGION is set to "true" the entire domain is used to calculate the bias, otherwise only the spatial region sampled by observations. Any value other than 'true' (including no setting) uses regional bias correction
DISABLE_CORRECT_BIAS_BY_REGION=false
